* {
  box-sizing: border-box;
}

input {
  font-family: "Cormorant Garamond", sans-serif;
}

input::-webkit-input-placeholder {
    font-size: 18px
}

input:-ms-input-placeholder {
  font-size: 18px
}

input:-moz-placeholder {
  font-size: 18px
}

input::-moz-placeholder {
  font-size: 18px
}

body {
  font-family: "Cormorant Garamond", sans-serif;
  color: $black;
  background-color: $bg-white;
}

button {
  background: none;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
}

a {
  text-decoration: none;
  color: $primary;
}

.content {
  padding: 32px;
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.h_sm {
  font-size: 22px;
  font-weight: 600;
}

.h_md {
  font-size: 28px;
  font-weight: 600;
}

.h_lg {
  font-size: 34px;
  font-weight: 600;
}

.p_sm {
  font-size: 20px;
  font-weight: 300;
}

.p_md {
  font-size: 28px;
  font-weight: 400;
}

.icon28 {
  width: 28px;
  height: 28px;
}

.icon36 {
  width: 36px;
  height: 36px;
}

.fill-white {
  fill: $white;
}

.fill-primary {
  fill: $primary;
}

.fill-disabled {
  fill: $gray;
}
