@mixin icon28 {
  width: 28px;
  height: 28px;
}

@mixin icon36 {
  width: 36px;
  height: 36px;
}

@mixin icon22 {
  width: 22px;
  height: 22px;
}

@mixin icon26 {
  width: 26px;
  height: 26px;
}

@mixin  icon16 {
  width: 16px;
  height: 16px;
}